@use '../abs/variaveis';
@use '../abs/mixins';

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    .linha{
        width: 80%;
        border:0.5px solid rgba(128, 128, 128, 0.478);
    }
    p{
        @include mixins.estilo-fonte(2rem, 400, variaveis.$fonte-texto, variaveis.$cor-fonte-escura);
    }
}