@use '../abs/variaveis';
@use '../abs/mixins';

.habilidades__container{
    @include mixins.centralizar(80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .linguagens__titulo{
        @include mixins.estilo-fonte(2rem, 400, variaveis.$fonte-titulo, variaveis.$cor-fonte-escura);
    }
    .linguagens__lista{
        display: flex;
        width: 50%;
        gap: 2rem;
        li{
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    .tecnologias{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        .tecnologias__titulo{
            @include mixins.estilo-fonte(2rem, 400, variaveis.$fonte-titulo, variaveis.$cor-fonte-escura);
        }
        ul{
            display: flex;
            gap: 2rem;
            li{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
@media screen and (max-width: 1254px){
    .habilidades__container{
        padding: 3rem 0 0 0;
        flex-direction: column;
        .linguagens{
            display: flex;
            flex-direction: column;
            align-items: center;
            .linguagens__lista{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                padding-bottom: 3rem;
            }
        }
    }
}