@use '../abs/variaveis';
@use '../abs/mixins';

header{
     padding: 1.5rem 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     .linha{
         width: 80%;
         border:1px solid variaveis.$cor-fonte-escura;
     }
     ul{
         @include mixins.centralizar(80%);
         display: flex;
         justify-content: space-around;
         gap:5rem;
         li{
             list-style: none;
             text-align: center;
             text-transform: uppercase;
             a{
                 text-decoration: none;
                 @include mixins.estilo-fonte(2rem, 400, variaveis.$fonte-titulo, variaveis.$cor-fonte-escura);
                 &:hover{
                     @include mixins.estilo-fonte(2rem, 600, variaveis.$fonte-titulo, variaveis.$cor-fonte-clara);
                 }
             }
         }
     }
}
@media screen and (max-width: 1254px) {
    header{
        ul{
            justify-content: center;
            padding: 2rem 1rem; // tentar colocar no mixins
            gap:1rem;
            li{
                a{
                    @include mixins.estilo-fonte(.7rem,500,variaveis.$fonte-titulo,variaveis.$cor-fonte-escura);
                    &:hover{
                    color: variaveis.$cor-fonte-clara;
                 }
                }
            }
        }
    }
}