@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --cor-escura: #040713;
  --cor-media: #3e3e3e;
  --cor-clara: #f4f4f4;
  --cor-hover-1: #8db39c;
  --cor-hover-2: #93c0e9;
  --fonte-titulo: "Fraunces", serif;
  --fonte-texto: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cor-escura);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}
header {
  display: flex;
  gap: 3rem;
  font-family: var(--fonte-titulo);
}
header a {
  text-decoration: none;
  font-size: 4rem;
  color: var(--cor-clara);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-clara);
  gap: 3rem;
  background-color: var(--cor-media);
  width: 80%;
  padding: 2.75rem;
  border-radius: 1.25rem;
}
.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}
.container-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container-titulo h1 {
  font-family: var(--fonte-titulo);
  font-size: 2rem;
}
.container-titulo p {
  font-family: var(--fonte-texto);
  font-size: 1.5rem;
}

.container-sobre {
  display: flex;
  width: 50%;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--fonte-texto);
}
.container-sobre p {
  font-size: 1.25rem;
}
.photo {
  width: 16rem;
  height: 16rem;
  border-radius: 100%;
}
.icone {
  width: 1.5rem;
  height: 1.5rem;
}
.container-redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container-redes-sociais a {
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  color: var(--cor-clara);
  font-family: var(--fonte-texto);
}
.container-sobre p {
  font-family: var(--fonte-texto);
}

.container-projeto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-family: var(--fonte-texto);
  justify-items: center;
  align-items: center;
}
.card-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1.75rem;
}
.card-projeto a{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-projeto:hover {
  background-color: var(--cor-hover-1);
  box-shadow: 5px 10px black;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}
.mini-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px var(--cor-escura);
}
@media (max-width: 1200px) {
  main {
    flex-direction: column;
  }
  .container-sobre {
    width: 100%;
  }
  .card-projeto:hover {
    background-color: var(--cor-hover-2);
    box-shadow: 5px 10px rgb(74, 53, 190);
  }
}
