@mixin centralizar($width){
    width: $width;
    margin:0 auto;
    padding: 4rem 0;
}
@mixin estilo-fonte($f-size, $f-weight,$f-family,$f-color){
    font-size: $f-size;
    font-weight: $f-weight;
    font-family: $f-family;
    color: $f-color;
}
