// Variaveis
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    //Cores
$gradiente-primario: linear-gradient(180deg, #fb2d6e,#f8b4b5,#ececbb);
$cor-fonte-escura:#1e231c;
$cor-fonte-clara:#ececbb;
    //Fontes
$fonte-titulo: "Krona One", sans-serif;
$fonte-texto: "Montserrat", sans-serif;