@use '../componentes/header';
@use '../componentes/main';
@use '../componentes/sobremim';
@use '../abs/variaveis';
@use '../componentes/projeto';
@use '../componentes/habilidades';
@use '../componentes/contato';
@use '../componentes/footer';

*{
    margin: 0;
    padding: 0;
}
body{
    background:variaveis.$gradiente-primario;
    background-repeat: no-repeat;
}